* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #FDFDFD;
    color: #222;
    height: 100%;
    width: 100%;
}

#header {
    font-weight: bold;
}

#zci {
    font-size: .8em;
}

img {
    display: block;
    height: 50%;
    margin: 2% auto 0 auto;
}
